body {
  font-family: Arial,sans-serif;
  color: #292f33;
}

/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 588px;
  margin: auto;
  border-radius: 5px;
}

/* The action list is optional. */
.tweetEntry-action-list {
  display: block;
  line-height: 18px;
  margin-left: 58px;
  margin-top: 10px;
  color: #292f33;
}
.fa-reply:hover {
  color: #292f33;
}
.fa-retweet:hover {
  color: #5cd65c;
}
.fa-heart:hover {
  color: #ff3333;
}
/************************/

.tweetEntry {
  cursor: pointer;
  min-height: 51px;
  padding: 9px 12px;
}
.tweetEntry-content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
}
.tweetEntry-avatar {
  float: left;
  height: 48px;
  width: 48px;
  margin-left: -58px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 14px;
  color: #292f33;
  padding: 0px;
}
.tweetEntry-username {
  font-weight: bold;
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-text-container {
  font-size: 14px;
  color: #292f33;
  line-height: 18px;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}
.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;

}

.station {
    border: 1px;
    border-color: #dcdcdc;
    border-style: solid;
    border-radius: 15px;
    margin-top: 20px;
}

.comment-section {
    border: 1px;
    padding: 9px;
    display: block;
    border-color: #c5b6b6;
    border-style: solid;
    border-radius: 10px;
}

.comment {
  border-bottom: 1px #cecece solid;
  background: #efefef;
  padding: 5px;

}

.comment-body {
}
.comment-author {
  float: right;
  font-size: 75%;
}

.comment-date {
  font-size: 75%;
}

.like-bar {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.like-btn {
  float: left;
}
.like-counter {
  float: right;
}
